@model Quiztopia.Web.ViewModels.QuizQuestionVM

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">

    <h1 class="display-3 pb-4">Questions</h1>

    <p class="pd-4">
        <a class="btn btn-lg btn-dark" asp-action="Create" asp-route-quizId="@Model.QuizId">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question.QuestionString)
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Questions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionString)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-controller="Answer" asp-action="Index" asp-route-questionId="@item.Id" asp-route-quizId="@Model.QuizId">Answers</a>
                        <a class="btn btn-info" asp-action="Edit" asp-route-quizId="@Model.QuizId" asp-route-questionId="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-quizId="@Model.QuizId" asp-route-questionId="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p class="pt-4">
        <a class="btn btn-lg btn-dark" asp-controller="Quiz" asp-action="Index">Back to list</a>
    </p>
</div>
