@model IEnumerable<Quiztopia.Models.Quiz>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@foreach (var item in Model)
{
    <a href="@Url.Action("IndexByQuiz", "Question", new { id = item.Id })">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">@Html.DisplayFor(modelItem => item.Topic.Name)</div>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <hr class="border-secondary my-4">
                <p class="card-text">@Html.DisplayFor(modelItem => item.Difficulty.Name)</p>
            </div>
        </div>
    </a>
}
