@model Quiztopia.Web.ViewModels.QuestionAnswerVM

@{
    ViewData["Title"] = "Edit";
}

<div class="jumbotron">

    <h1 class="display-3 pb-4">Update answer</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                @Html.AntiForgeryToken()
                @Html.HiddenFor(vm => vm.QuizId)
                @Html.HiddenFor(vm => vm.Answer.Id)
                @Html.HiddenFor(vm => vm.Answer.Question)
                @Html.HiddenFor(vm => vm.Question.Id)
                @Html.HiddenFor(vm => vm.Question.QuestionString)

                <div class="form-group">
                    <label asp-for="Answer.PossibleAnswer" class="control-label"></label>
                    <input asp-for="Answer.PossibleAnswer" class="form-control" />
                    <span asp-validation-for="Answer.PossibleAnswer" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Answer.IsCorrect" /> @Html.DisplayNameFor(model => model.Answer.IsCorrect)
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a class="btn btn-dark" asp-action="Index" asp-route-questionId="@Model.Question.Id" asp-route-quizId="@Model.QuizId">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
