@model Quiztopia.Web.ViewModels.QuestionAnswerVM

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">

    <h1 class="pb-4">Question: @Model.Question.QuestionString</h1>

    <p class="pd-4">
        <a class="btn btn-lg btn-dark" asp-action="Create" asp-route-questionId="@Model.Question.Id" asp-route-quizId="@Model.QuizId">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Answer.PossibleAnswer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answer.IsCorrect)
                </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Answers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PossibleAnswer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCorrect)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-questionId="@Model.Question.Id" asp-route-answerId="@item.Id" asp-route-quizId="@Model.QuizId">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-questionId="@Model.Question.Id" asp-route-answerId="@item.Id" asp-route-quizId="@Model.QuizId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p class="pt-4">
        <a class="btn btn-lg btn-dark" asp-controller="Question" asp-action="Index" asp-route-quizId="@Model.QuizId">Back to list</a>
    </p>
</div>